

<form name="empForm" id="editForm" role="form" ng-controller="updateCtrl" ng-submit="updateData(empInfo);">
	<legend>Insert New Employee Information</legend>
	
	<div class="form-group">
		<label for="">Employee ID</label>
		<input type="text" name="emp_id"class="form-control" id="" placeholder="Employee ID" ng-model="empInfo.id"  autofocus required disabled  >
		<span ng-show="empForm.emp_id.$invalid && empForm.emp_id.$dirty">Employee ID shouldn't be Empty</span>
	</div>
	<div class="form-group">
		<label for="">First Name</label>
		<input type="text" name="emp_fname" class="form-control" id="" placeholder="First Name" ng-model="empInfo.fname" autofocus required >
		<span ng-show="empForm.emp_fname.$invalid && empForm.emp_fname.$dirty">First Name Field is Empty</span>
	</div>
	<div class="form-group">
		<label for="">Last Name</label>
		<input type="text" name="emp_lname" class="form-control" id="" placeholder="Last Name" ng-model="empInfo.lname"  autofocus required >
		<span ng-show="empForm.emp_lname.$invalid && empForm.emp_lname.$dirty">Last Name Field is Empty</span>
	</div>

	<div class="form-group">
		
		<label>Gender:</label>
		
		Male<input type="radio" name="emp_gender" value="Male"  ng-model="empInfo.gender" >
		Female<input type="radio" name="emp_gender" value="Female" ng-model="empInfo.gender">
		
	</div>

	<div class="form-group">
	<label for="">Department</label>
	<select name="emp_department" ng-model="empInfo.department" id="input" class="form-control" required="required">
		<option value="">----Select Any Department----</option>
		<option value="Engineer">Engineer</option>
		<option value="Human Resource">Human Resource</option>
		<option value="Admin">Admin</option>
		<option value="Information Security">Information Security</option>
	</select>
	</div>
	<input type="submit" ng-disabled="empForm.$invalid" name="submit" class="btn btn-primary">
</form>
